[Unit]
Description=MyUnit
After=syslog.target
After=network.target
After=nginx.service

[Service]
Type=simple
WorkingDirectory=/home/igor/prj/python/ya-sch

User=igor
Group=igor

ExecStart=/home/igor/prj/python/ya-sch/enrollment/tools/start.sh
TimeoutSec=60
Restart=always

[Install]
WantedBy=multi-user.target 